body {
  overflow-x: hidden;
  font-family: "calibri", "Lucida Sans Unicode", "Lucida Grande", sans-serif;;
}
@media only screen and (max-width: 700px) {
  header h2 {
    font-size: 25px;
  }

}

@media only screen and (max-width: 800px) {
    header {
    background-image: url(https://res.cloudinary.com/duw1ccgzp/image/upload/v1538913313/bannahand.jpg);
  }
  header h2 {
    color: #fff;
  }
    header .box01 {
      background-color: rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  header .box01 article {
    width: 300px;
  }


}

@media only screen and (min-width: 601px) {
  header {
    background-image: url(https://res.cloudinary.com/duw1ccgzp/image/upload/v1538913313/bannahand.jpg);
  }
  header h2 {
    color: #fff;
  }

}

@media only screen and (min-width: 1200px) {
  header {
    background-image: url(https://res.cloudinary.com/duw1ccgzp/image/upload/v1538913313/bannahand.jpg);
  }
  header h2 {
    color: #fff;
  }
  header .box01 {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 100px;
    padding-bottom: 60px;
    padding-left: 20px;
    margin-left: -15px;
  }
  .thanku .boxx {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 30px 60px 30px;
  margin-top: 50px;
}
  .thanku p {
    font-size: 20px;
  }
  .thanku article {
  padding-top: 40px;
}
.thanku h1 {
  padding-bottom: 20px;
  font-size: 60px;
}
}

@media only screen and (min-width: 1000px) {
  .box01 article h2 {
  font-size: 40px;
}
  .box01 article h1 {
  color: #F4D03F;
  font-size: 50px;
}

}


header {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100%;
}
header h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

header .boxtext img {
  margin-top: 80px;
}


.box01 article {
  padding: 10px;
}
.box01 article h1 {
  color: #F4D03F;
}


.lists {
  background-color: #232323;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 410px;
  margin-top: 40px;
}
.lists article {
  width: 350px;
}
.lists article p {
  color: rgb(255,255,255);
}
.lists ul {
  color: rgb(255,255,255);
  padding-bottom: 0px;
  list-style-type: none;
}
.lists li p {
  font-size: 12px;
  margin-left: 20px;
  margin-top: -20px;
}
.butin .btn {
  background-color: rgb(248,244,0);
  border-radius: 0px;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.modal-body .btn {
  background-color: rgb(248,244,0);
  color: rgb(0,0,0);
}

section {
  padding: 50px 0 20px 0;
}
section h2 {
  padding-bottom: 10px;
}
section img {
  float: left;
}
section article {
  margin-left: 120px;
  font-size: 12px;
  width: 250px;
}
section article h5 {
  margin-top: -5px;
  font-size: 12px;
}
.one, .two, .three, .four {
  margin-top: 20px;
}

.ttot {
  padding: 40px 0 20px 0;
}
.ttot .btn {
  padding: 10px 80px 10px 80px;
  margin-bottom: 20px;
  border-radius: 50px;
}
.ttot .btn i {
  margin-left: 10px;
}
.ttot p {
  font-size: 12px;
}
.ttot .bcan {
  background-color: rgb(248,244,0);
}

input {
  width: 400px;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
}

.bb2 {
  padding-top: 10px;
}

.modal-footer p {
  font-size: 12px;
}

em {
  font-style: normal;
}

.bottom {
  margin-top: 60px;
  background-color: #000;
}

.modal-header {
  background: #1B2631;
}

.modal-content p, .modal-header h3 {
  color: #fff;
}
.modal-content {
  background-color: #1B2631;
  height: 480px;
}

.leftside {
  background-image: url(https://res.cloudinary.com/duw1ccgzp/image/upload/v1538913649/ArthritisCold2.jpg);
  height: 478px;
}
.leftside button {
  width: 40px;
  height: 40px;
}
.butins {
  background-color: #F4D03F;
}

.thanku {
  background-image: url(https://res.cloudinary.com/duw1ccgzp/image/upload/v1538913160/the-way-of-living-3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
}
.thanku p, .thanku h1{
  color: #fff;
  text-shadow: 0 0 3px #000;
}
.thanku p a {
  color: #F4D03F;
}

.thanku .boxx {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 30px 20px 30px;
}

footer {
  margin-top: 40px;
  background-color: #363636;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer p {
  color: #fff;
}